/* .hidden{
  visibility: hidden;
} */

.navFields:hover{
  cursor: pointer;
}

/* .navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item{
  margin-left: 1rem;
}

.login-button{
  margin-left: 1rem;
}

.toggle-button{
  position: fixed;
  top: 1rem;
  left: 1rem;
} */